<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <title>Salud & Sueño</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" /> 
</head>
<body>


 <header>
   <nav>
       <h1>Salud & Sueño</h1>
     <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/graficos">Gráficos</a></li>
      <li><a href="/predicciones">Predicciones</a></li>
      <li><a href="/formulario">Formulario</a></li>
     </ul>
   </nav>
 </header>


 <main>


   <div class="separador-hero">
     <section class="hero">
       <h1>¿Cómo el tiempo de pantalla y el estrés afectan la calidad del sueño?</h1>
       <h2>De 15.000 personas, aproximadamente el 30% tiene un alto nivel de estrés, y solamente el 2,3% tiene una buena calidad de sueño.</h2>
     </section>
      
     <img class="imagen-hero" src="https://lamanzanamordida.net/app/uploads-lamanzanamordida.net/2017/11/Sleeping-with-Phone-1024x629.jpg" alt="Persona dormida con celular">


   </div>


   <div class="separador-objetivos-formulario">


     <div class="objetivos-formulario">
       <section class="objetivos">
         <h3>Objetivos de nuestra investigación:</h3>
         <p>¿Tienes problemas con el sueño?, ¿acaso no descansas bien?. Muchas personas sufren de estas dificultades, pero no conocen sus factores detonantes, ni las posibles soluciones, y es aquí cuando aparecemos nosotros.</p>
       </section>


       <section class="formulario">
         <h3>¿Querés saber cómo es tu situación?</h3>
         <p>Completá el siguiente formulario con tus datos, y te diremos en qué aspectos podrías mejorar.</p>
         <a href="/formulario"><button class="btn-graficos btn-verde">Formulario</button></a>
       </section>
     </div>


     <div>
       <section class="problematicas">
         <h3>Problemáticas principales:</h3>
         <p>El estrés, el tipo de ocupación, la cantidad diaria de uso de pantallas, la calidad de dormir, y el nivel de fatiga mental.</p>
         <a href="/graficos"><button class="btn-graficos">Gráficos</button></a>


         <hr class="divider">


         <h4>De acuerdo a los gráficos, ¿qué podemos observar en un posible futuro?</h4>
         <a href="/predicciones"><button class="btn-graficos btn-verde">Predicciones</button></a>
       </section>
     </div>
 </div>


 </main>


 <footer>
   <p class="footer">&copy; 2026 Salud & Sueño. Todos los derechos reservados.</p>
 </footer>


</body>
</html>